#include <dt-bindings/zmk/mouse.h>
#include <input/processors.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

/*

   &mmv_input_listener {
       input-processors = <&zip_xy_scaler 2 1>;
   };

   &msc_input_listener {
       input-processors = <&zip_xy_scaler 2 1>;
   };

 */

#define ZMK_MOUSE_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_MOUSE_DEFAULT_SCRL_VAL 20    // 10

&mt {
    flavor = "tap-preferred";
    tapping-term-ms = <300>;
    quick-tap-ms = <100>;
};

/ {
    behaviors {
        td0: td0 {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Shift/Caps Lock Tap Dance";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT>, <&kp CAPS>;
        };

        rgb_colors: rgb_colors {
            compatible = "zmk,behavior-sensor-rotate";
            label = "RGB_COLORS";
            #sensor-binding-cells = <0>;
            bindings = <&rgb_ug RGB_HUI>, <&rgb_ug RGB_HUD>;
        };
    };

    rgb_encoder: rgb_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&rgb_ug RGB_HUI>, <&rgb_ug RGB_HUD>;

        tap-ms = <1>;
        label = "rgb";
    };

    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <30>;
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";
            bindings = <
&kp KP_PLUS   &kp Q           &kp W        &kp E           &kp R             &kp T                               &kp UP                &kp Y             &kp U              &kp I            &kp O        &kp P               &kp PIPE
&kp ESCAPE    &mt LEFT_GUI A  &mt LCTRL S  &mt LEFT_ALT D  &mt LEFT_SHIFT F  &kp G                     &kp LEFT  &kp ENTER  &kp RIGHT  &kp H             &mt RIGHT_SHIFT J  &mt RIGHT_ALT K  &mt RCTRL L  &mt RIGHT_GUI SEMI  &kp EQUAL
&kp KP_MINUS  &kp Z           &kp X        &kp C           &kp V             &kp B        &kp SPACE              &kp DOWN              &kp N             &kp M              &kp COMMA        &kp DOT      &kp FSLH            &kp TAB
                                           &kp BACKSPACE   &lt 1 SPACE       &lt 2 ENTER                                               &kp SINGLE_QUOTE  &kp GRAVE          &kp TAB
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };

        lower_layer {
            display-name = "NUMBER";
            bindings = <
&kp DEL    &kp EXCL      &kp AT        &kp HASH      &kp DLLR      &kp PERCENT                                &mmv MOVE_UP                     &kp CARET       &kp AMPS         &kp ASTRK      &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &trans
&kp TILDE  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp N5                     &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &kp NUMBER_6    &kp N7           &kp N8         &kp N9                &kp N0                 &kp PIPE
&kp GRAVE  &kp ESCAPE    &kp KP_PLUS   &kp KP_MINUS  &kp KP_EQUAL  &kp UNDER    &kp C_MUTE                    &mmv MOVE_DOWN                   &kp LEFT_BRACE  &kp RIGHT_BRACE  &kp BACKSLASH  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &trans
                                       &trans        &trans        &trans                                                                      &mo 3           &trans           &trans
            >;

            sensor-bindings = <&scroll_encoder>;
            label = "LOWER";
        };

        raise_layer {
            display-name = "RAISE";
            bindings = <
&kp F12  &kp F1  &kp F2  &kp F3        &kp F4           &kp F5                                      &mmv MOVE_UP                     &kp F6           &kp F7           &kp F8           &kp F9           &kp F10          &kp F11
&trans   &trans  &trans  &kp C_VOL_DN  &kp C_VOLUME_UP  &kp KP_MULTIPLY             &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &kp LEFT         &kp DOWN_ARROW   &kp UP_ARROW     &kp RIGHT        &rgb_ug RGB_BRI  &bl BL_ON
&trans   &trans  &trans  &trans        &trans           &kp C_PLAY_PAUSE  &trans                    &mmv MOVE_DOWN                   &rgb_ug RGB_HUD  &rgb_ug RGB_HUI  &rgb_ug RGB_SAD  &rgb_ug RGB_SAI  &rgb_ug RGB_BRD  &rgb_ug RGB_TOG
                         &trans        &trans           &mo 3                                                                        &trans           &trans           &trans
            >;

            sensor-bindings = <&rgb_encoder>;
        };

        layer_3 {
            display-name = "ADJUST";
            bindings = <
&bootloader  &none   &none   &none   &none   &none                                 &mmv MOVE_UP                     &none   &none   &none   &none   &none   &none
&trans       &trans  &trans  &trans  &trans  &trans                &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &trans  &trans  &trans  &trans  &trans  &trans
&sys_reset   &trans  &trans  &trans  &trans  &trans  &kp C_MUTE                    &mmv MOVE_DOWN                   &trans  &trans  &trans  &trans  &trans  &trans
                             &trans  &trans  &trans                                                                 &trans  &trans  &trans
            >;

            sensor-bindings = <&scroll_encoder>;
        };
    };
};
